*, * :before, * :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*transition: all .2s ease-in;*/
}
body{
    background-color: #f1f1f1;
}
#spisok{
    width: 100%;
    margin-left: 1%;
    height: 80%;
}


ul{
    display: inline-block;
    width: 30%;
    margin: 0 auto;
    padding: 0px;
    vertical-align: bottom;
    height:35px;
    margin-left: 2%;
}
li{
    /*display: inline-block;*/
    list-style-type: none;
    vertical-align: middle;
    background-color: rgba(118,117,128,0.05);
    border: none;
    /*border-color: transparent;*/
    margin: 3px;
    color: #c2c2c2;
    font-family: Arial, sans-serif;
    font-size: 10px;
    height: 50px;
    font-weight: bold;
    white-space: nowrap;

}

.avatar img {
    /*display: block;*/
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border: solid;
    border-width: 1px;
    border-radius: 50%;
    border-color: transparent;
    margin-left: 5px;
    margin-right: 5px;
    /*padding-right: 10px;*/
}
img {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-width: 1px;
    border-color: transparent;
    margin-left: 5px;
    margin-right: 5px;
    /*padding-right: 20px;*/
    /*padding-left: 20px;*/
}
.people{
    margin-left: 2%;
}
.popular{
    margin-left: 2%;
}
.recent{
    margin-left: 2%;
}

.p1{
    display: table-cell;
    vertical-align: middle;
    height: 50px ;
    width: 500px;
    text-align: left;
    line-height: 2;


}
a  {
    display: inline-block;
    text-decoration: none;
    color: #c2c2c2;
    height: 100%;
    width: 100%;

}
a:active{
    color: #c2c2c2;
}
a:hover{
    /*display: inline-block;*/
    background-color: rgba(118,117,128,0.1);
    height: 100%;
    width: 100%;
    color: #ec5a62;
}

h2{
    display: inline-block;
    font-family:Arial, sans-serif;
    font-weight: bold;
    color: #c2c2c2;
    font-size: 16px;
    width: 30%;
    margin-bottom: 1px;
    margin-left: 3%;
}
li h2{
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: transparent;
    vertical-align: bottom;
}
.head{
    background: none;

}



input {
    display: inline-block;
    width: 80%;
    padding: 0 80px 0 10px;
    font-weight: 700;
    border: none;
    background: transparent;
    font-size: 7em;
    color: #ec5a62;
    margin-left: 2%;
}

input:focus{
    color: #ec5a62;
    border: none;
}

button{
    /*display: inline-block;*/
    background: none;
    border: none;
    height: 100px;
    /*width: 100px;*/
    padding: 0;
}
button>img{

    height: 80px;
    width: 80px;
    padding: 0;
    /*margin:*/
}
button:hover{

    transform: translate3d(0,-10%,0) scale(1,1) ;
}